$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;

$textColor: #3B5441;
$secondary: #2CB978;
$subColor: #83E85A;
$primary: #83E85A;

$primaryGradient: linear-gradient(245.65deg, #83E85A 0%, #2CB978 65.58%);
$primaryBoxShadow: 0px 4px 24px rgba(0, 0, 0, 0.1);